<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <base id="baseUrl" href="<%= baseUrl %>">
  <link href="<%= module %>/node_modules/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="<%= module %>/css/common.css" rel="stylesheet" type="text/css">
</head>
<body class="imodal imodal-blank">
<div class="imodal-loader">
  <i class="fa fa-refresh fa-spin"></i>
</div>
</body>
</html>
