<% layout('../layout') -%>

<section id="middle">
  <header id="page-header">

    <div class="pull-right">
      <% include dashboard-tools %>
    </div>
    <h1><%= title %></h1>
  </header>

  <div>
    <%- dashboardContent %>
  </div>
</section>
