
<div class="dashboard-tools">
  <div class="hidden">
    <%=t('Module')%>:
    <select class="dashboard-select-module form-control mr10">
      <% for (var id of modules) { %>
      <% var checked = id === currentModule ? 'selected' : ''%>
      <option value="<%- id %>" <%- checked %>><%- id %></option>
      <% } %>
    </select>
  </div>
</div>

<script>
  (function () {
    var $tools = $('.dashboard-tools');
    var $modules = $tools.find('.dashboard-select-module');
    var cookieData = {
      expires: 30,
      path: '/registry'
    };
    $modules.change(save);

    function save () {
      Cookies.set('dashboard-module', $modules.val(), cookieData);
      location.reload();
    }
  })();
</script>