Формирование фильтра обеспечивается путем задания фильтрующей строки, по примеру:<br>
`Имя` = "Иван", где `Имя` - наименование атрибута (выбирается из выпадающего списка), а и "Иван" строка (значение атрибута)<br>
Для указания ссылочного значения, нужно задать его через точки, пример `Персона`.`Имя` = "Иван"<br>
Несколько значения, можно объединить через параметры<br>
<li>
    <ul>and - И - т.е. обязательно оба (или  больше) значаний</ul>
     <ul>or - ИЛИ - т.е. любое из значений оба (или больше) значаний</ul>
</li>