Filter formation is provided by setting the filter string, for example<br>
`Name` = "Ivan", where `Name` - attribute name (is selected from the dropdown list), and "Ivan" string (attribute value)<br>
To specify a reference value, , you need to specify it through the points., example `Person`.`Name` = "Ivan"<br>
Several values, can be combined via parameters<br>
<li>
    <ul>and - AND - i.e. necessarily both (or more) values</ul>
     <ul>or - OR - i.e. any of the meanings are both (or more) values</ul>
</li>